
body {
    font-family: "Century", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
}
.form-container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
}
.logo {
    width: 100px;
    margin-bottom: 10px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid grey;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover {
    background-color: green;
}
h1 {
    color:green;
}
